@model ResearchProject.Models.News

@{
    ViewData["Title"] = "Delete News:" +Model.Title;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminNews" asp-action="Index" class="breadcrumb-item">News List</a>
            <span class="breadcrumb-item active">@Model.Title</span>
        </nav>
    </div>
</div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="~/images/news/@Model.Thumb" alt="@Model.Title">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.Title</h4>
                <p class="text-muted m-b-0">ID: #@Model.PostId</p>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-images">Page Images</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">News Info: @Model.Title</h4>
                    <div class="table-responsive">
                        <form asp-action="Delete" asp-route-id="@Model.PostId">
                            <input type="hidden" asp-for="PostId" />
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Page Name:</td>
                                        <td class="text-dark font-weight-semibold">@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td>Alias:</td>
                                        <td>@Model.Alias</td>
                                    </tr>
                                    <tr>
                                        <td>Publish:</td>
                                        <td>
                                            @if (Model.Published == true)
                                            {

                                                <div>Public</div>

                                            }
                                            else
                                            {

                                                <div>Non-Public</div>

                                            }

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IsNewFeed:</td>
                                        <td>
                                            <div class="checkbox">
                                                <input asp-for="IsNewfeed" type="checkbox" />
                                                <label for="IsNewfeed">IsNewfeed</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IsHot:</td>
                                        <td>
                                            <div class="checkbox">
                                                <input asp-for="IsHot" type="checkbox" />
                                                <label for="IsHot">IsHot</label>
                                            </div>
                                        </td>
                                    </tr>>
                                    <tr>
                                        <td>Delete Confirm:</td>
                                        <td><input type="submit" value="Delete" class="btn btn-danger" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Description</h4>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Contents)
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="~/images/news/@Model.Thumb" alt="@Model.Title">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



