@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ResearchProject.Models.News>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "News List" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                <span class="breadcrumb-item active">News List : @CurrentPage</span>
            </nav>
        </div>
    </div>
   <div class="card">
       <div class="card-body">
           <div class="row m-b-30">
                <div class="col-lg-8">
                     </div>
                <div class="col-lg-4 text-right">
                    <a class="btn btn-primary" asp-controller="AdminNews" asp-action="Create"><i class="fa fa-plus m-r-5"></i><span> Add News</span></a>
                </div>
            </div>
       
        
            
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Is Hot</th>
                                <th scope="col">Is Newfeed</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col" style="text-align:center">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>@item.PostId</td>
                                <td>@item.Title</td>
                                <td>
                                    @if (item.IsHot == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Hot</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-warning badge-dot m-r-10"></div>
                                            <div>-</div>
                                        </div>
                                    }

                                </td>
                                <td>
                                    @if (item.IsNewfeed == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>NewFeed</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-warning badge-dot m-r-10"></div>
                                            <div>-</div>
                                        </div>
                                    }

                                </td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    @if (item.Published == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Public</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-warning badge-dot m-r-10"></div>
                                            <div>Non-Public</div>
                                        </div>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-outline-primary m-2" asp-area="Admin" asp-controller="AdminNews" asp-action="Details" asp-route-id="@item.PostId">View</a>
                                    <a class="btn btn-outline-secondary m-2" asp-area="Admin" asp-controller="AdminNews" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                                    <a class="btn btn-outline-success m-2" asp-area="Admin" asp-controller="AdminNews" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                                </td>
                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <div aria-label="Page Navigation">
                        <ul class="pagination">
                            <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminNews" asp-action="Index" />
                        </ul>
                    </div>
                </div>
         
       </div>
   </div>
 


